p Я умею
    ul.technologies
        li
            img(src='assets/images/svg/github.svg')
        li
            img(src='assets/images/svg/vk.svg')
        li
            img(src='assets/images/svg/telegram_logo.svg')
        li
            img(src='assets/images/svg/works_header.svg')