extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    div.container
        h1 Главная
        form
            label(for="email") email
            input(name="email" id="email")
            label(for="password") password
            input(name="password" id="password")
            button Войти
        block script
            script(src='/assets/scripts/index.js' defer)