.skills-list{
  .circles {
    fill: none;
    stroke-width: 15;
  }
  .circle__first {
    stroke: #dfdcd5;
  }
  .circle__second {
    stroke: #004cd1;
    transition: all 1s;
    
    &-hidden {
      stroke-dasharray: .0010 282.6;
    }
  }
}